@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700);

body {
    background-color: #0e0e0e;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: Poppins, sans-serif;

    --square-size: 85px;
}

.chess {
    display: grid;
    grid-template-areas: '. next_player panel' 'improvements board panel';
    gap: 1.5rem;
    grid-template-columns: 20rem calc(var(--square-size) * 8) 25rem;
    grid-template-rows: 2.5rem calc(var(--square-size) * 8);
}

.improvements {
    grid-area: improvements;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-grow: 1;
    background-color: #222;
    border-radius: 1rem;
    padding: 2.5rem;
}

.next_player {
    grid-area: next_player;
    display: flex;
}

.white_to_move,
.black_to_move {
    display: flex;
    gap: 0.5rem;
    background-color: #222;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
}

.square {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 0.75rem;
}
.white_to_move .square {
    background-color: whitesmoke;
}
.black_to_move .square {
    background-color: #000;
}

.board {
    grid-area: board;
    border-radius: 1rem;
    width: calc(var(--square-size) * 8);
    height: calc(var(--square-size) * 8);
}

.panel {
    grid-area: panel;
    display: flex;
    flex-direction: column;
}

.moves {
    flex-grow: 1;
    background-color: #222;
    border-radius: 1rem;
    padding: 1.5rem;
    overflow-y: auto;
}
.actions {
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-size: 3rem;
    width: max-content;
    margin-top: 1rem;
}

.actions button {
    cursor: pointer;

    /*Draw the button background*/
    background-color: #222;
    border: 1px solid #222;
    padding: 0.2rem 3rem;
    border-radius: 1.5rem;

    /*Draw the text*/
    color: whitesmoke;
    font-size: 2.5rem;
}

.actions button:disabled {
    color: rgb(119, 119, 119);
}

.actions button:hover:not(:disabled) {
    background-color: #444;
    border: 1px solid #888;
}
